/*!
global > color
------------------------------
*/
:root {
    --color-font-base: #292929;
    --color-font-white: #ffffff;
    --color-font-glay: #505050;
    --color-font-brown: #693705;
    --color-font-blue: #057fc4;
    --color-bg-black: #292929;
    --color-bg-white: #ffffff;
    --color-bg-blue: #057fc4;
    --color-bg-skyblue: #2faef5;
    --color-bg-light-blue: #dff1fb;
    --color-bg-dark-blue: #4347f7;
    --color-bg-green: #00b432;
    --color-bg-light-green: #c6e4ce;
    --color-bg-yellow: #ffc93c;
    --color-bg-red: #fc6868;
    --color-bg-pink: #e671c2;
    --color-bg-light-gray: #d1d1d1;
    --color-bg-orange: #f49315;
    --color-border-black: #292929;
    --color-border-white: #ffffff;
    --color-border-blue: #057fc4;
    --color-border-gray: #393939;
    --color-border-light-gray: #c5c5c5;

}
