/*!
global > z-index
------------------------------
*/
:root {
    --z-index-modal-l: 200;
    --z-index-modal: 100;
    --z-index-header: 50;
    --z-index-original: 30;
    --z-index-menu: 10;
    --z-index-default: 1;
}
