@use "../global" as g;

/*!
component > c-kv
------------------------------
*/

.c-kv {
  padding-top: 69.75px;

  @include g.mq() {
    padding-top: 150px;
  }
}

.c-kv-inner {
  position: relative;
}

.c-kv-container {
  width: 90%;
  margin: 0 auto;
}

.c-kv-title {
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.25;
  top: 50%;
  transform: translateY(-50%);
  z-index: var(--z-index-original);

  @include g.mq(sm) {
    font-size: 34px;
  }

  @include g.mq(lg) {
    font-size: 48px;
  }

  @include g.mq(xl) {
    font-size: 60px;
  }

  span {
    display: block;
  }
}

.c-kv-bg {
  position: absolute;
  top: 0;
  width: 66.11%;
  height: 30.75vh;
  z-index: var(--z-index-menu);

  @include g.mq() {
    width: 40%;
  }
}

.c-kv-img {
  position: absolute;
  width: 100%;
  height: 46.2vh;
  text-align: right;
  z-index: var(--z-index-menu);

  @include g.mq() {
    height: 307px;
  }
}

.c-kv-end-bg {
  position: absolute;
  width: 28.25%;
  height: 45vh;
  background-color: var(--color-bg-light-blue);
  overflow: hidden;
  z-index: var(--z-index-default);

  @include g.mq(sm) {
    height: 80vh;
    
  }

  @include g.mq() {
    width: 18.2%;
  }
  
  @include g.mq(xl) {
    height: 115vh;
    
  }

  ::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg-white);

    transform: skewY(-53.5deg);
    transform-origin: bottom right;
    z-index: var(--z-index-default);

  }
}

