@use "../global" as g;

/*!
component > title
------------------------------
*/
.c-title {
}

// top
.c-top-title-level2 {
  text-align: center;
  font-size: 28px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 32px;

  &--left {
    text-align: left;
  }

  @include g.mq() {
    font-size: 42px;
    margin-bottom: 42px;
  }

  @include g.mq(lg) {
    font-size: 54px;
  }
}

.c-top-title-level3 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;

  &--left {
    text-align: left;
  }

  @include g.mq() {
    font-size: 28px;
  }

  @include g.mq(lg) {
    font-size: 34px;
  }
}
// end top

.c-title-level2 {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.2;

  @include g.mq() {
    font-size: 34px;
  }

  &--white {
    background-color: var(--color-bg-blue);
    color: var(--color-font-white);
    border-radius: 7px;
    padding: 8px 12px 12px 12px;

    @include g.mq() {
      padding: 8px 18px 14px 18px;
    }
  }

  &--yellow {
    background-color: var(--color-bg-yellow);
    border-radius: 7px;
    padding: 8px 12px 12px 12px;

    @include g.mq() {
      padding: 8px 18px 14px 18px;
    }
  }

  &--skyblue {
    background-color: var(--color-bg-skyblue);
    border-radius: 7px;
    padding: 8px 12px 12px 12px;

    @include g.mq() {
      padding: 8px 18px 14px 18px;
    }
  }

  &--red {
    background-color: var(--color-bg-red);
    border-radius: 7px;
    padding: 8px 12px 12px 12px;

    @include g.mq() {
      padding: 8px 18px 14px 18px;
    }
  }

  &--pink {
    background-color: var(--color-bg-pink);
    border-radius: 7px;
    padding: 8px 12px 12px 12px;

    @include g.mq() {
      padding: 8px 18px 14px 18px;
    }
  }

  &--green {
    color: var(--color-font-white);
    background-color: var(--color-bg-green);
    border-radius: 7px;
    padding: 8px 12px 12px 12px;

    @include g.mq() {
      padding: 8px 18px 14px 18px;
    }
  }
}

.c-title-level3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;

  @include g.mq() {
    font-size: 26px;
  }

  &--white {
    color: var(--color-font-white);
  }

  &--green {
    width: fit-content;
    padding: 8px;
    background: var(--color-bg-light-green);
    border-left: solid 6px var(--color-bg-green);

    @include g.mq() {
      padding: 8px 14px 11px;
      border-left: solid 8px var(--color-bg-green);
    }
  }
}

.c-text {
  font-size: 16px;
  line-height: 1.5;

  @include g.mq() {
    font-size: 18px;
  }
}

.c-text-margin {
  padding-top: 18px;

  @include g.mq() {
    padding-top: 24px;
  }

  p {
    a {
      color: var(--color-bg-blue);
      border-bottom: 1px solid var(--color-bg-blue);

      &:hover {
        opacity: 0.7;
      }
    }
    span {
      display: block;
    }
    &:not(:first-child) {
      padding-top: 10px;

      @include g.mq() {
        padding-top: 14px;
      }
    }
  }
}
