@use "../../global" as g;

/*!
page > topics > topics
------------------------------
*/

.topics-main {
  position: relative;
  z-index: var(--z-index-menu);
}

.topics-main-post {
  &:not(:first-child) {
    padding-top: 18px;

    @include g.mq() {
      padding-top: 28px;
    }
  }
  &:last-of-type {
    @include g.mq(lg) {
      padding-bottom: 58px;
    }
  }
}

.topics-date {
  color: var(--color-font-glay);
  font-size: 16px;
  font-weight: bold;

  @include g.mq() {
    font-size: 18px;
  }
}

